<!DOCTYPE html>
<html lang=en>
  <head>
    <% include ./partials/head %>
  </head>
  <body class="container">
      <header>
        <% include ./partials/header %>
      </header>
      <main>
        <% days.forEach((day) => {%>
          <div><h2><a href="/day/<%=day%>"><%=day%></a></h2></div>
        <%});%>
      </main>
      <footer>
        <% include ./partials/footer %>
      </footer>
  </body>
</html>
